<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title><%=single.product.name%></title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="../css/star-rating.min.css" />
    <link type="text/css" rel="stylesheet" href="../css/viewer.min.css" />
    <link type="text/css" rel="stylesheet" href="../css/single.css"/>
	    <style type="text/css">
        body {
    		width: 100%;
			height: 100%;
            background-image: url(../assets/bg.jpg) ;
            background-attachment: fixed;
			background-size: 100% 100%;
        }
			body:before {
	content:'';
	position:fixed;
	z-index:-1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../assets/bg.jpg) center 0 no-repeat;
	background-size: cover;
	}
    </style>
</head>
<body>
    <div class="nav navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="row" id="topimg">
                <img class="img-thumbnail" src="<%=single.product.loopimags%>/png.png" />
            </div>
            <div class="row" id="navbar">
                <ul class="mnav">
                    <li id="vt1" role="presentation" class="active"><a class="anchorlabel" href="javascript:viod()" data-anchor="v1">详细</a></li>
					<li id="vt3" role="presentation"><a class="anchorlabel" href="javascript:viod()" data-anchor="v2">平面图</a></li>
                    <li id="vt2" role="presentation"><a class="anchorlabel" href="javascript:viod()" data-anchor="v3">买过的人</a></li>
                    <li id="vt4" role="presentation"><a class="anchorlabel" href="javascript:viod()" data-anchor="v4">评价</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid offset-to-top" id="bodymodal">
        <div class="slogan" style=""><span>活动</span> <%=single.product.notice%></div>
        <div class="info" name="v1" id="v1">
            <div class="infotitle"><strong>详情</strong></div>
            <hr />
            <section  class="infolist">
                <p>施工时间：<%=single.product.constructtime%></p>
                <p>参考价格：<%=single.product.price%></p>
                <p>空间利用率：<%=single.product.space%></p>
                <p>安全说明：<%=single.product.safeparam%></p>
            </section>
        </div>
        <div class="info" name="v2" id="v2">
            <div s class="infotitle"><strong>平面示意图</strong></div>
            <hr />
            <div class="panel-min">
                <ul>
				  <%if(single.product.plan!=null&&single.product.plan.length>0){
                      var planImg=single.product.plan.split(",");
                      var planImgurl=[];
				      for(var i=0;i<planImg.length;i++){
                            planImgurl[i]='/data/product/layout/'+single.product.productId+'/'+planImg[i]+'.png';
                   
				  %>
				    <% if(i==0){%>
                    <li><a href="javascript:void(0)" style="color:#ffffff" class="btn floorselect"  onclick="setsumimage('<%=planImgurl[i]%>')"><%=i+1%>楼</a></li>
					<%}else{%>
					<li><a href="javascript:void(0)" style="color:#ffffff" class="btn"  onclick="setsumimage('<%=planImgurl[i]%>')"><%=i+1%>楼</a></li>
					<%}}}%>
                </ul>
            </div>
            <div id="sum_img" class="sum_img">
						  <%if(planImgurl!=null&&planImgurl.length>0){%>
                <img id="flanimage" class="img-thumbnail" src="<%=planImgurl[0]%>" />
				<%}%>
            </div>
            <div class="panel-select">
                <a href="../pano?productid=<%=single.product.productId%>">360全景</a>
                <a href="./animation?productid=<%=single.product.productId%>">施工动画</a>
            </div>
        </div>
        <div class="info" name="v3" id="v3">
            <div class="infotitle"><strong>买过的人</strong><small>(经客户确认，授权我网展示)</small></div>
            <hr/>
            <div class="panel-custom">
			  <%if(single.purchaser!=null&&single.purchaser.length>0){%>
                <ul >
				    <% for(var i=0;i<single.purchaser.length;i++){ %>
                    <li>
                        <div><a href="record?projectId=<%=single.purchaser[i].projectId%>"><img src="../assets/xiaoguo.png" class="img-responsive" alt="效果" /></a></div>
                        <div><%=single.purchaser[i].username%>的家</div>
                    </li>
					<%}%>
                </ul>
				<%}%>
            </div>
        </div>

        <div class="info" name="v4" id="v4">
            <div  class="infotitle"><strong>评价</strong></div>
            <hr />
	         <% if(single.comment!=null&&single.comment.length>0){
			 
			     for(var i=0;i<single.comment.length;i++){
			 %>
			    <table class="panel-commit">
			  
                <tbody>
                    <tr>
                        <td style="width:60px;color:#ffffff"><%=single.comment[i].username%></td>
                        <td><input value="<%=single.comment[i].rating%>" type="text" class="rating-loading" data-size="xs"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="swift">
                            <div class="say"><%=single.comment[i].remark%></div>
                            <!-- <div class="row">
                                <div class="col-xs-4 col-md-4">
                                    <a href="#" class="thumbnail">
                                        <img src="../assets/1.jpg" alt="效果">
                                    </a>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <a href="#" class="thumbnail">
                                        <img src="../assets/2.jpg" alt="效果">
                                    </a>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <a href="#" class="thumbnail">
                                        <img src="../assets/3.jpg" alt="效果">
                                    </a>
                                </div>
                            </div> -->
                        </td>
                    </tr>
                </tbody>
            </table>
			 <%}}%>
        </div>
		  <div class="row footerbottom">
            <footer>悉道智造</footer>
            <footer>2017年~2018年</footer>
        </div>
    </div>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/star-rating.min.js"></script>
    <script type="text/javascript" src="../js/viewer.min.js"></script>
        <script type="text/javascript">

        var initscroll = true;

        $(document).on('ready', function () {
            $('.rating-loading').rating({ displayOnly: true, step: 0.5 });
             var viewer = new Viewer(document.getElementById('sum_img'), { title: "平面图", button: true, toolbar: false, navbar: false, title:false});
            var defaultPos = $("#navbar").offset().top;
            $(window).bind("scroll",function () {
                var st = defaultPos - $(document).scrollTop();
                if (st <= 0) {
                    $("#navbar").addClass("barfix");
                } else {
                    $("#navbar").removeClass("barfix");
                }
                srollLabel();
            });
            $(".panel-min a").click(function () {
                $(".panel-min a").removeClass("floorselect");
                $(this).addClass("floorselect");
            });
            $('.anchorlabel').click(function () {

                var tp = 0;
                if ($(".barfix").length > 0) {
                    tp = 40;
                } else {
                    tp = 80;
                }
                $('html,body').animate({ scrollTop: $("#" + $(this).attr('data-anchor')).offset().top - tp}, 200, function () {
        
                    var st = defaultPos - $(document).scrollTop();
                    if (st <= 0) {
                        $("#navbar").addClass("barfix");
                    } else {
                        $("#navbar").removeClass("barfix");
                    }
                });
		
			
          
            });
        });


        function srollLabel() {
            var st = $(document).scrollTop();
            if (st <=($("#v2").offset().top-50)) {
                $(".mnav li").removeClass("active");
                $(".mnav li").eq(0).addClass("active");
            }
            if (st > ($("#v2").offset().top-50) && st <= ($("#v3").offset().top-50)) {
                $(".mnav li").removeClass("active");
                $(".mnav li").eq(1).addClass("active");
            }
            if (st >($("#v3").offset().top - 50) && st <= ($("#v4").offset().top - 50)) {
                $(".mnav li").removeClass("active");
                $(".mnav li").eq(2).addClass("active");
            }
            if (st >= ($("#v4").offset().top - 50)) {
                $(".mnav li").removeClass("active");
                $(".mnav li").eq(3).addClass("active");
            }
        }

		function setsumimage(imgurl){
		   $("#flanimage").attr("src",imgurl);
		}
    </script>
</body>
</html>